body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #333;
}

body{
    background: #a8dadc;

}

.windowContainer{
  width: 100%;
  height: 100vh;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    /* padding-top: 40px; */
  }

  .searchTerm {
    width: 100%;
    border: 3px solid #00b4cc;
    margin-top: 70px;
    padding: 20px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    outline: none;
    color: #9dbfaf;
    margin-bottom: -30px;
  }

  .searchTerm:focus {
    color: #00b4cc;
  }

  .wrap {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.title{
  padding-top: 20px;
  text-align: center;
}

.containerRad {
  max-width: 500px;
  margin: auto;
}

.radioContainer{
    background-color: #f4f4f4;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin-top: 100px;
    z-index: 10;
}



.radioTitle{
    position: absolute;
    top: -35%;
    left: 50%;
    transform: translateX(-50%);
  text-align: center;
  margin-bottom: 25px;
  /* color:black; */
  z-index: 10;
}

.fa-heart{
    width: 500px;

}

.radioControls {
  width: 100%;
}

.fa-heart{
  position: absolute;
    left: 80%;
    top:-40%;

    display: inline;
    width: 100px;
}

.heartBg{
    color:#f4f4f4;
}

.heartBgFav{
    color:#e63946

}


.img-container {
    position: absolute;
    left:-5%;
    z-index: 2;
    position: relative;
    width: 110px;
  }


  .img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
  }

  .img-container.play img {
    animation-play-state: running;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .action-btn {
    background-color: #457b9d;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 0 auto;
    width: 40%;
    cursor: pointer;
}

.p{
     color: #fff !important;
  }

  .action-btn:focus {
    outline: 0;
  }


@media screen and (max-width: 1000px) {
  .container {
    max-width: 500px;
  }
}

@media screen and (max-width: 600px) {
    .radioContainer{
        font-size: 12px;
    }
  .container {
    max-width: 350px;
  }

  .containerRad{
      width: 90vw;
  }
}
